<!-- layout view -->
<!DOCTYPE html>
<html lang="en" data-layout="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title %> · <%= siteName || 'BrandName' %></title>
    <% if (globalCssHref) { %>
      <link rel="stylesheet" href="<%= globalCssHref %>">
    <% } %>
    <%- tags %>
  </head>
  <body data-body>
    <%- include('./components/header/header.component.ejs') %>
    <main data-main><%- content %></main>
  </body>
</html>
